.panelCol{
	padding-left:4px !important;
	padding-right:4px !important;	
}
blockquote:before {
	content: open-quote;
	font-size: 24pt;
	text-align: center;
	line-height: 42px;
	color: #fff;
	background: #ddd;
	float: left;
	position: relative;
	top: 15px;
	border-radius: 25px;

	/** 定义成 block 元素 **/
	display: block;
	height: 25px;
	width: 25px;
}
blockquote:after {
	content: close-quote;
	font-size: 24pt;
	text-align: center;
	line-height: 42px;
	color: #fff;
	background: #ddd;
	float: right;
	position: relative;
	bottom: 15px;
	border-radius: 25px;

	/** 定义成 block 元素 **/
	display: block;
	height: 25px;
	width: 25px;
}