.panelCol{
	padding-left:0px !important;
	padding-right:0px !important;
    border-top-left-radius:0px !important;
    border-top-right-radius:0px !important;	
	
}
.panel-heading { 
    border-bottom: 0px solid transparent;
}

header {
	background-color:rgba(0, 0, 0, 0.4380392);
	margin-bottom:0px;padding-bottom:0px;
	padding-top:0px;
	background-color: #5a5a5a\9; /*IE6、IE7、IE8会显示红色*/


}
.dropdown-menu{
	background-color:rgba(0, 0, 0, 0.4380392);	
	background-color: #5a5a5a\9; /*IE6、IE7、IE8会显示红色*/
}
.standard-vertical-bordered {
    border-top: 2px solid #dedede;
    border-bottom: 2px solid #dedede;
    border-radius: 2px;
    border-color: #e5e5e5;
}
ol, ul {
    list-style: none;
}
.event-list-item-date{
	float: left;
    width: 15%;
    margin-right: 2%;
}
.event-list-item-date span.event-date {
    height: 82px;
    width: 120px;	
    background: rgb(205, 55, 55);
    border: 0;
	text-align: center;
	display: block;
	transition: all .3s ease .1s;
}
.event-list-item-date .event-date {
    border: 2px solid #f8f8f8;
    background-image: url(../images/dashed.png);
    text-align: center;
    height: 100px;
    width: 95px;
    display: block;
    margin-top: 3px;
	padding-top:12px;
}
.event-list-item-date span.event-day {
    padding-top: 24px;
    font-weight: normal;
	font-size:40px;
	margin-top: 29px;
}

.event-list-item-date span.event-day, .event-list-item-date span.event-month {
   color: #fcf8e3;
}
.event-list-item-date .event-month {
    padding-top: 5px;
    display: block;
}
.hover-yellow{
	font-size:15px;
	font-weight:500;
}
span.event-month {
    color: #0e419c;
}

.event-time {
	font-size:8px;
	
}
.event-location-address{
	font-size:10px;
}
.lined-info {
    padding: 0;
}
.pannelOpactiy{
	background-color:#f5f5f5 !important;
	opacity:0.98;
	border:none;
	
}
.panelheading{
    border-top-left-radius:0px !important;
    border-top-right-radius:0px !important;	
	opacity:0.98;
	border:0px
}

.panelheadingLeft{
	background-color:#f8f8f8;
    opacity:0.98;
    border-top-right-radius:0px !important;	
}

.panelheadingRight{
	opacity:0.95;
    border-top-left-radius:0px !important;	
}
.panelCol2{
	padding-left:0px !important;
	padding-right:0px !important;	
}

blockquote:before {
	content: open-quote;
	font-size: 24pt;
	text-align: center;
	line-height: 42px;
	color: #fff;
	background: #ddd;
	float: left;
	position: relative;
	top: 15px;
	border-radius: 25px;

	/** 定义成 block 元素 **/
	display: block;
	height: 25px;
	width: 25px;
}
blockquote:after {
	content: close-quote;
	font-size: 24pt;
	text-align: center;
	line-height: 42px;
	color: #fff;
	background: #ddd;
	float: right;
	position: relative;
	bottom: 15px;
	border-radius: 25px;

	/** 定义成 block 元素 **/
	display: block;
	height: 25px;
	width: 25px;
}
 .group-right {
  float: none;
  margin-left: 10px;
  width: auto;
}

 .group-right2 {
  float: none;
  margin-left: 160px;
  width: auto;
}

 .group-center {
  float: none;
  margin-left: 50px;
  width: auto;
}
.wrapper {
  padding: 20px 12% 20px 7.5%;
}
.TitlePreview{
  font-family:微软雅黑 !important;
  color:#337ab7 !important;
  border-bottom: none;
 font-weight:400px;
 font-size:27px;
  text-decoration: none;
  position: relative;
  border-bottom: dotted 1px transparent;
  content: '';
  display: inline;
  padding-right: 20px;
  width: 19px;
  line-height: 32px;
}

.sideNav{
	margin-top: 20px;
	width: 100%
}

::selection
{
color:#27b1b5;
}

::-moz-selection
{
color:#27b1b5;
}

body {
  padding-bottom:0px !important;
  margin: 0;
  line-height: 24px;
  color: #333;
  background-color: #fff;
}
.navbar-wrapper{
	
}
.sideBar{
	font-size:19px !important;
	font-family:仿宋 !important;
}
.sidebar-navigation{
	margin-top:10px;
	margin-right:15px
}
.sidebar-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
.sidebar-navigation li {
  padding-left: 25px;
}
.sidebar-navigation a {
  font-size: 18px;
  border: 0px solid #cacfd1;
  border-top: 0;
  display: block;
  padding: 0.83333em 1.11111em;
  color: #474848;
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
  text-decoration: none;
}
.sidebar-navigation .active {
  background: url(../img/sidebar-navigation-indicator.png) left center no-repeat;
}
.sidebar-navigation .active a, .sidebar-navigation .highlight a {
  background: #9966ff;
  border-color: #9966ff;
  color: #fff;
}

.item-list .pager {
  clear: both;
  text-align: right;
}
ul.pager {
  padding: 0;
}
.item-list ul li {
  margin: 0;
}
.pager-current {
  font-weight: bold;
}
.pager-item {
  padding:0px;
}
.next{
	
}
.last{
	
}
body{
	background-color:f8f8f8
}
.more-link{
	color:rgb(51, 122, 183);
}
.aboutus{
	font-family:微软雅黑;
	font-size:16px;
	font-weight: 500;
	line-height: 33px;
}
.peopleList li{
	list-style: none;
	float:left;
	margin:10px 10px 10px 20px;
}
.peopleImg{
	width:190px;
	height:190px;
    cursor: pointer;
}

footer {
    margin-top: 1em;
    background: #373737;
    padding: 1em 2% .5em;
}
footer .info {
    font-family: 楷体;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    line-height: 1.3em;
    width: 90%;
    margin: 0 auto;
	padding-bottom:10px;
	margin-bottom:10px;
    color: #cccccc;
}
footer .copyright {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-family:微软雅黑;
    width: 100%;
    color: #cccccc;
    text-align: center;
}
footer .link{
	font-family: 楷体 !important;
	text-decoration:none;
	color:#cccccc !important;
	width: 90%;
    margin: 0 auto;
	font-size:16px;
	padding-left:70px;
	padding-top:20px;
	padding-bottom:30px
	
}
.link > a{
	color:#cccccc !important;
	margin-left:1px;
	margin-right:3px
}
.copyright > a{
	color:#cccccc !important;
	margin-left:1px;
	margin-right:3px
}
.navbar-brand{
	font-family: 微软雅黑 !important;
}
.navbar-nav > li > a{
    padding-top:17px;
	padding-left:10px;
	padding-right:10px;
}
.mytitle{
	color:rgba(206, 27, 27, 0.85);
	font-family:仿宋;
	font-size:20px;
	font-weight:500px;
}
.subList{
	color:#fff !important;
}
a:hover, a:focus {
    color: #6633cc;
    text-decoration: none; 
}
.subTitle{
	color: rgba(206, 27, 27, 0.85098) !important;
	font-family:仿宋;
	font-size:21px !important;
	margin-left:0px;
	margin-top: 8px;
}
.newsAbstract{
	line-height:28px !important;
}
.sidebarEn{
	font-family:arial;
	font-size:13px;
}