target
*.iml
.idea
.settings
.project
.classpath
*~
out
lib
hotspot.log
test-output
CVS
.checkstyle
dependency-reduced-pom.xml
src/main/resources/findbugs/*
src/main/resources/checkstyle/*
*.versionsBackup
**/*.versionsBackup
**/.factorypath
**/**/.factorypath
**/logs
*.ipr
*.iws

